%h4 
  ABOUT THIS WEBSITE
%p
  This website is a togo manager built as a holiday assignment for CVWO. Frankly, I really spent a lot of effort on this, and I hope you will enjoy it just as I have enjoyed building it.
%p
  This website is built using Ruby on Rails, Foundation, HAML and JQuery.

%p
  Regards,
  %br
  Lai Hoang Dung (Louis)

