%h4 USER MANUAL & FAQs
%em
  %p
    %strong
      Do I need an account?
    %br
      Yes you need an account to use the webpage. Just get one at the sign up page. You need to provide your email as the ID and your password must be at least 8 characters long.
      You will automatically be logged in once your account has been created
  %p
    %strong
      Can I edit my account details?
    %br
      Sure you can! Just go to Settings under the Account tab at the navigation bar.
  %p
    %strong
      How do I log out? I don't see a log out button
    %br
      The log out button is under the Account tab at the navigation bar
  %p
    %strong
      How do I use the todo manager?
    %br
      You can click on the 'New Task' button at your home screen to create a new task. Alternatively, if you don't need to put a deadline for your new task, you can click the little arrow right beside the "New Task button" to open up the quick add task form.
  %p
    %strong
      What should I input for the tags when creating a new task?
    %br
      Anything! Just remember that if you want to enter multiple tags, they need to be separated by a comma (,)
  %p
    %strong
      What should I input for the deadline when creating a new task?
    %br
      The date parsing capability of the webpage is very capable. You can enter it in date format, eg: '1/1/2011', or even a phrase, eg: 'tomorrow' or '20 days from now'. Beware that input that does not look semantically like a date will get parse as nil.
  %p
    %strong
      How do I mark a task as completed?
    %br
      See that little check box in front of your task? Just check it
  %p
    %strong
      My task is not completed yet! But I already marked it!
    %br
      No worry. Just uncheck the little box!
  %p
    %strong
      How do I edit my task?
    %br
      See that little pencil icon beside the task. Just click it! Alternatively if you just want to change the name of your task, you can just click on the name itself to update.
      You can also delete the task permanently by clicking the trash icon beside the task.
  %p
    %strong
      I cannot see my completed tasks. Where did they go?
    %br
      By default, the list of completed tasks is collapsed, but you can click the Completed Tasks heading to uncollapse them.
  %p
    %strong
      I have too many pending tasks. They are taking too much space?
    %br
      Just collapse them by clicking the Pending Tasks heading
  %p
    %strong
      How do I use the search feature?
    %br
      Just use the search bar to the left side of the navigation bar. The search feature support searching with the task's name and its tags
  %p
    %strong
      How do I view only tasks that are under a specific tag?
    %br
      Click the hamburger icon to the left side of the navigation bar. A new menu will appear with all the tags, which you can choose to view the tasks under a particular tag.


