- @task = current_user.tasks.new

= simple_form_for(@task, remote: true, url: {action: :create}, html: {class: "row collapse", hidden: true, id: "quick_add_task"}) do |f|
  .small-1.columns
    %a#tag_trigger.button.prefix.radius{href: "#popovertag"}
      %i.fa.fa-tags.white
  .small-10.columns
    = f.text_field :task, placeholder: "Write a quick task here"
  #popovertag.popover
    .small-12.columns
      = f.text_field :all_tags, placeholder: 'Add some tags'
  .small-1.columns
    .button.postfix.radius#task_submit_dummy
      %i.fa.fa-plus

