%p#notice= notice
%h1 Tasks
%ul.button-group.round
  %li
    %a.button.tiny{"data-reveal-id" => "modalCreateTask", :href => ""} 
      New Task
  %li#quick_add
    .button.tiny
      %i.fa.fa-arrow-down
=render "tasks/popup_form"
=render "tasks/tasks"
=render "tasks/form", mode: :create, submit_value: "Create", title: "New Task", modalOn: true
   
  