/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
<<<<<<< HEAD
 *= require jquery.datetimepicker
 *= require foundation-datepicker
=======
>>>>>>> parent of 1c21191... Revert "Temp change"
 *= require font-awesome
 *= require foundation_and_overrides

 */

@import "font-awesome";

/* Make footer fixed to bottom */
.footer {
  position: fixed;
  margin-bottom: 0;
}

/* Make height bigger */
.buffer-footer {
  min-height: 100%;
  overflow-y: auto;
}

/* Divider to quote */
.border {
  
}

/* Miscellaneous */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#inspirator, #pending_toggle{
  cursor: pointer;
}

/* Put heading overlaying a*/
@mixin middle() {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
h6#inspirator_wrapper {
  overflow: hidden;
  text-align: center;
  &:before {
    @include middle();
    width: 50%;
    right: 0.5em;
    margin-left: -50%;
  }
  &:after {
    @include middle();
    width: 50%;
    left: 0.5em;
    margin-right: -50%;
  }
}

// Style tag input box popover

#popovertag {
  position: absolute
}

.white {
  color: inherit;
}
/*#randomQuote {
    position: absolute;
    left: 80%;
    top: 50%;

    
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
*/

