%div.site-footer  
  %nav.top-bar{"data-topbar" => ""}
    %section.top-bar-section
      %ul.left
        %li#about.hvr-grow
          %a{href: "/about"} About
        %li#help.hvr-grow
          %a{href: "/help"} FAQs