.contain-to-grid.sticky
  %nav.top-bar{"data-options" => "sticky_on: large", "data-topbar" => "", :role => "navigation"}
    %section.top-bar-section
      %ul.right
        %li.active= link_to "Sign up", signup_path
