%ul.off-canvas-list#tag_list
  %li
    %label Tags
  %li
    = link_to "All Tags", user_tasks_path(current_user)
  - tags = current_user.tags.all.includes(:tasks)
  - tags.each do |tag|
    = render 'tags/tag', tag: tag